.center {
    text-align: center;
}

.calculator {
    height: 400px;
    width:  350px;
    margin: auto;
    border: solid #969191 2px;
    border-radius: 10px;
    background-color: #a59e9e;
}

#data-screen {
    height: 50px;
    width: 300px;
    margin: 15px auto;
    border: solid #969191 5px;
    border-radius: 10px;
    font-size: 45px;
    background-color: #9db699;
}

.buttons-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: #969191;
    padding: 10px;
    border-radius: 10px;
}
.top-grid {
    grid-column: span 2;
  }


.btn {
    padding: 10px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 15px;
    outline: none;
    cursor: pointer;
  }

